# Pliki systemowe
*.DS_Store
Thumbs.db

# Katalogi IDE i edytory
## Visual Studio Code
.vscode/
## Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.pdb
*.ilk
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.idb
*.opendb
*.opensdf
*.tlog
*.log
*.dll
*.exe
*.obj
*.sqlite
*.jfm
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa]pp[Pp]ublish/
[Bb]uild[Ll]og.*
*.[Oo]bj
*.[Pp]db
*.[Cc]ache
*.[Cc]sproj.user
*.[Cc]sproj.*.user
*.[Dd]ot[Ss]ettings.user
*.docstates

# Pliki specyficzne dla ASP.NET
wwwroot/
*.rptproj
*.config
*.rdl.data
*- [Bb]ackup.*
*.mdf
*.ldf
*.ndf

# Node (dla Angulara)
/node_modules
/dist
/tmp
/out-tsc

# Pliki specyficzne dla Angulara
.angular
.angular-cache

# Pliki tymczasowe
*.log
*.tmp
*.temp
*.tst

# Inne pliki i foldery
/.sass-cache
/.idea
*.iml
*.ipr
*.iws
/.vscode/
.DS_Store
/.azure
/build/
/*.tgz
*.sw?
.*.sw?
.e2e/
*.bak
*.aux
*.lof
*.lot
*.out
*.toc
*.nav
*.snm
*.sbl
*.synctex.gz
